<footer class="container">
	<div class="row">

		<div class="col-12" data-aos="zoom-in">
			<h3>Jobflow</h3>
			<p class="fs-6 m-0" align="justify">
				Этот сервис предназначен для эффективного управления задачами и контроля продуктивности сотрудников. Он
				позволяет директорам устанавливать грейды и ставки оплаты, менеджерам — распределять задания, а
				сотрудникам — удобно работать со своими задачами и отчитываться о выполнении. Система автоматически
				рассчитывает заработок на основе отработанных часов, предоставляет аналитику по эффективности работы и
				помогает отслеживать статусы задач в реальном времени. Встроенные отчеты и графики дают наглядное
				представление о загрузке команды, рейтинге сотрудников и распределении грейдов, что упрощает принятие
				управленческих решений. Интуитивно понятный интерфейс делает работу с сервисом комфортной для всех
				участников процесса.
			</p>
		</div>

	</div>

	<div class="d-flex flex-column flex-sm-row justify-content-center py-1 my-1 border-top">
		<p>© Jobflow</p>
	</div>
</footer>
