<div class="card card-body">
	<form [formGroup]="categoryFormGroup" (ngSubmit)="update()">
		<input type="text" formControlName="name" class="form-control mb-2" minlength="1" maxlength="255"
			   placeholder="Наименование">
		<input type="number" formControlName="sum" class="form-control mb-2" min="0.01" step="0.01"
			   max="1000000" placeholder="Ставка в час">
		<button type="submit" class="btn btn-success w-100 mb-2" [disabled]="categoryFormGroup.invalid">
			Обновить
		</button>
		<a (click)="delete()" class="btn btn-danger w-100">Удалить</a>
	</form>
</div>
