<div class="container-fluid py-5">

	<h1 class="text-center" data-aos="zoom-in">Главная</h1>

</div>

<div class="container my-5">

	<div class="row fs-5" align="justify">
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<img src="/img/hero/1.png" alt="img" class="object-fit-cover w-100 h-100 rounded">
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100 d-flex align-items-center">
				<div>
					<p class="fs-4 mb-2">
						Описание сайта "Задачи для сотрудников" (Общее)
					</p>
					<p class="m-0">
						"Задачи для сотрудников" – это удобный веб-инструмент для управления рабочими процессами,
						контроля задач и анализа продуктивности сотрудников. Система позволяет директорам назначать
						грейды и ставки, менеджерам – создавать и распределять задачи, а сотрудникам – выполнять их и
						отчитываться о проделанной работе. Встроенная аналитика помогает оценивать эффективность работы
						команды, а прозрачная система учета часов и заработка мотивирует сотрудников на продуктивную
						деятельность.
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100 d-flex align-items-center">
				<div>
					<p class="fs-4 mb-2">
						Функционал для директора
					</p>
					<p class="m-0">
						Директор в системе имеет доступ к управлению грейдами (название, ставка в час) и базе
						сотрудников (ФИО, фото, дата начала работы, грейд). В профиле каждого сотрудника автоматически
						рассчитывается заработок на основе отработанных часов и ставки. Директор может анализировать
						статистику по продуктивности команды, включая рейтинг сотрудников и распределение грейдов. Это
						позволяет принимать обоснованные кадровые решения и оптимизировать затраты на оплату труда.
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<img src="/img/hero/2.jpg" alt="img" class="object-fit-cover w-100 h-100 rounded">
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<img src="/img/hero/3.jpg" alt="img" class="object-fit-cover w-100 h-100 rounded">
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100 d-flex align-items-center">
				<div>
					<p class="fs-4 mb-2">
						Функционал для менеджера
					</p>
					<p class="m-0">
						Менеджер может создавать задачи, назначая их конкретным сотрудникам. Каждая задача включает:
					</p>
					<ul class="m-0">
						<li>
							Название, дату создания, срок выполнения
						</li>
						<li>
							Статус (новая, в работе, выполнена)
						</li>
						<li>
							Трудоемкость в часах, адрес выполнения
						</li>
						<li>
							Описание и особенности задачи
						</li>
					</ul>
					<p class="m-0">
						На отдельной странице менеджер видит все активные задачи, их статусы и может контролировать ход
						выполнения. После завершения задачи сотрудник загружает отчет (фото, файлы), который менеджер
						проверяет и подтверждает.
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100 d-flex align-items-center">
				<div>
					<p class="fs-4 mb-2">
						Функционал для сотрудника
					</p>
					<p class="m-0">
						Сотрудник видит только свои задачи и может:
					</p>
					<ul class="m-0">
						<li>
							Принимать задачу в работу (статус меняется на "В работе")
						</li>
						<li>
							Отслеживать сроки выполнения
						</li>
						<li>
							Загружать отчет (фото, файлы) после завершения
						</li>
					</ul>
					<p class="m-0">
						В профиле автоматически рассчитывается заработок (часы × ставка грейда), что мотивирует на
						эффективную работу.
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<img src="/img/hero/4.png" alt="img" class="object-fit-cover w-100 h-100 rounded">
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<img src="/img/hero/5.jpg" alt="img" class="object-fit-cover w-100 h-100 rounded">
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100 d-flex align-items-center">
				<div>
					<p class="fs-4 mb-2">
						Аналитика и отчетность
					</p>
					<p class="m-0">
						Система формирует статистику по продуктивности:
					</p>
					<ul class="m-0">
						<li>
							Таблицы: ФИО сотрудника, количество задач, отработанные часы
						</li>
						<li>
							Графики:
							<ul>
								<li>
									Рейтинг сотрудников по продуктивности (столбчатая диаграмма)
								</li>
								<li>
									Распределение грейдов в компании (круговая диаграмма)
								</li>
							</ul>
						</li>

					</ul>
					<p class="m-0">
						Это помогает выявлять лучших исполнителей и оценивать нагрузку на команду.
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100 d-flex align-items-center">
				<div>
					<p class="fs-4 mb-2">
						Преимущества системы
					</p>
					<ul class="m-0">
						<li>
							Прозрачность: Каждый видит свои задачи и заработок.
						</li>
						<li>
							Контроль: Менеджеры следят за выполнением в реальном времени.
						</li>
						<li>
							Автоматизация: Расчет зарплаты, учет часов, отчетность.
						</li>
						<li>
							Мотивация: Рейтинги и аналитика стимулируют сотрудников.
						</li>
					</ul>
					<p class="m-0">
						Идеально подходит для компаний, где важны учет рабочего времени, контроль задач и справедливая
						оплата труда.
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<img src="/img/hero/6.jpg" alt="img" class="object-fit-cover w-100 h-100 rounded">
		</div>
	</div>

</div>

<div class="container my-5">

	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75252.68666033309!2d27.510968627109335!3d53.88471296974388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQuiwg0JzQuNC90YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sby!4v1724993567955!5m2!1sru!2sby"
		allowfullscreen frameborder="0" loading="lazy" height="500" class="w-100 rounded shadow"
		data-aos="zoom-in"></iframe>

</div>
