<div class="container-fluid py-5">

	<h1 class="text-center" data-aos="zoom-in">Аккаунт</h1>

</div>

<div class="container">

	<div class="row">
		<div class="col-12 col-lg-4 mb-4" data-aos="zoom-in">
			<input type="file" (change)="updateImg($event)" class="form-control mb-4" accept="image/*">
			<div class="ratio ratio-1x1">
				<img [src]="account.img" alt="img" class="object-fit-cover w-100 rounded">
			</div>
		</div>
		<div class="col-12 col-lg mb-4" data-aos="zoom-in">
			<div class="card card-body">
				<p class="fs-4 mb-2">ФИО</p>
				<input type="text" [(ngModel)]="account.fio" class="form-control mb-2" minlength="1" maxlength="255">
				<button type="submit" class="btn btn-primary w-100" (click)="updateFio()" [disabled]="!account.fio">
					Обновить ФИО
				</button>
			</div>
			<div *ngIf="role === 'USER'" class="card card-body mt-4 fs-4">
				<p *ngIf="account.categoryName" class="m-0">{{ 'Грейд: ' + account.categoryName }}</p>
				<p *ngIf="account.categorySum" class="m-0">{{ 'Ставка: ' + account.categorySum }}</p>
				<p class="m-0">{{ 'Дата начало работы: ' + account.dateFormatted }}</p>
				<p class="m-0">{{ 'Количество задач: ' + account.tasksCount }}</p>
				<p class="m-0">{{ 'Количество часов: ' + account.tasksIntensity }}</p>
				<p class="m-0">{{ 'Заработок: ' + account.income }}</p>
			</div>
		</div>
	</div>

</div>
